{{define "quarantine"}}{{template "head" .}}
<div class="login-wrap">
  <div class="login-card">
    <h1>Quarantine</h1>
    {{if .Confirm}}
      <p>Release this quarantined message back to your inbox? It will be moved out of your Junk folder.</p>
      <form method="post" action="/quarantine/release">
        <input type="hidden" name="t" value="{{.Token}}">
        <button class="primary" type="submit">Release to inbox</button>
      </form>
    {{else}}
      <p class="{{.Class}}">{{.Message}}</p>
    {{end}}
  </div>
</div>
{{template "foot" .}}{{end}}
